@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    min-height: 100vh;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.body-content {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px;
}

.body-content section {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .body-content {
        grid-template-columns: 1fr;
    }

    .body-content section:first-child {
        order: 1
    }
}

.pane-content {
    display: block;
    max-width: 1220px;
    margin: 0 auto;
    padding: 40px 20px;
}